.blue {
    color: blue;
}
.red {
    color: red;
}
.black {
    color: black;
}
.aqua {
    color: aqua;
}
.under_none {
    text-decoration: none;
}
.list_style {
    list-style: none;
}
.bold {
	font-weight: 900px;
	font-size: 18px;
}
.b_g {
	background: #66ff66;
}
