.blue {
    color: blue;
}
.red {
    color: red;
}
.black {
    color: black;
}
.aqua {
    color: aqua;
}
.under_none {
    text-decoration: none !important;
}
.list_style {
    list-style: none;
}
.bold {
	font-weight: 900px;
	font-size: 18px;
}
.b_g {
	background: #66ff66;
}
.d_pink {
	font-weight: 600;
	color:#66a3ff;
	margin-bottom:3px;
}
.d_pink:hover {
	font-size:19px;
	color:#1a75ff;
}
