@charset "UTF-8";
.header_nav {
    color: #8c8c8c !important;
}
.header_nav:hover {
	font-weight: bold;
    color: #404040 !important;
}
#logo {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}
#logo h1 a {
    text-decoration: none;
    color: #ff6666;
}
#logo h1 a:hover {
    color: #ff1a1a;
}