@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
    margin-top:8px;
    float: right;
}

#section {
    width: 1920px;
    height: 900px;
}
#aside {
    float: left;
    width: 300px;
    height: 300px;
}


#aside div {
	background: green;
    width:250px;
    margin: 0 auto;
    margin-top: 30px;
    background: white;
    height: 300px;
}
#article{
    float: left;
    width: 1300px;
    height: 900px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#board_p {
    height: 400px;
}
#board_n {
    height: 400px;
}

.nav_list {
    
    margin-left: 15px;
}
.nav_list2 {
    margin-left: 15px;
}
#profile2 {
    width: 260px !important;
    height:300px !important;
}
#aside-right {
    float:right;
    width:300px;
    height:800px;
}
#content {
    margin-top: 20px;
    width: 1240px;
    height: 800px;
    background: white;
    margin: 0 auto;
}
#footer {
    background: aqua;
    width: 1920px;
    height: 200px;
}

#footer-content {
    padding-top: 50px;
    width: 650px;
    margin: 0 auto;

}
.list_style li a{
	text-decoration: none;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
}
#board_p table td {
    height: 30px;
}
#board_p table tr:nth-last-child(2n+2) {
    background: #ffb3b3;
  } 
#board_p {
    position: relative;
}
#board_p span {
    position: absolute;
    margin-top:5px;
    right: 210px;
}
.board_h {
    height:500px;
}
.nav_toggle a {
	
	color: #4d4d4d;
	font-size: 17px;
}
.nav_toggle a:hover {
	font-weight: 800;
	color: #262626;
}
.p2_menu {
	margin-left:15px;
	font-size:17px;
}
td a {
    	text-decoration: none;
    	color: black;;
}
td a:hover {
	text-decoration: underline;
	font-weight: bold;
}
.m-l {
	margin-left:6px;
}
.l_b {
	width:257px;
	border:1.5px solid black;
	height:40px;
}
.bn:hover {
	font-size: 17px;
	font-weight:700;
	color: #330000;
}